@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="col-xl-12 col-md-12 mt-5">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h3 class="card-title text-center text-primary">Log in</h3>
                <h4 class="card-subtitle text-center" style="color:darkgoldenrod">Please log in to continue !!</h4>
            </div>
            <div class="card-body">
                <section>
                    <form id="account" method="post">
                        <h2>Use a local account to log in.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mt-2">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="ml-5 text-left mt-2">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-facebook">Log in</button>
                        </div>
                        <div class="text-center mt-4">

                            <a class="btn btn-primary" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>

                            <a class="btn btn-secondary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>

                            <a class="btn btn-success" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>

                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>









@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
